{{ title = tree.name + " " + tree.version }}
{{include "../layouts/header.view.html"}}

<div id="page-content">
  <div class="container">

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{routeUrl("phylogenies_index",{})}}">Phylogenies</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{tree.name}} {{tree.version}}</li>
      </ol>
    </nav>

    <h1>{{tree.name}} {{tree.version}}</h1>
    {{if tree.deprecated}}
      <div class="alert alert-warning" role="alert">
        <i class="fas fa-exclamation-triangle"></i> This phylogeny is depracated. Please use it only for reproducibility.
      </div>
    {{end}}
    <p>{{tree.description}}</p>
    <p><small class="text-muted"><i class="far fa-clock"></i> Last Update: {{tree.lastUpdate}}&nbsp;&nbsp;<a href="{{tree.url}}"><i class="fab fa-github"></i> View on GitHub</a></small></p>
    <p><b>Citation: </b></p>
    <p>Please cite the following papers if you use this phylogeny in your publication:</p>
    <ul>
      {{for source in tree.source}}
        <li>{{source}}</li>
      {{end}}
    </ul>


{{if tree.getGroups() != null}}
      {{for group in tree.getGroups().getGroups() }}
      <h3>{{group.name}} ({{group.getLabels().size()}})</h3>

            <p style="line-height: 250%">
      {{for label in group.getLabels()}}
      <a href="{{routeUrl("groups_show",{phylotree: tree.getIdWithVersion(), group: group.name, label: label})}}" class="btn btn-outline-primary btn-sm"><i class="fas fa-folder"></i> {{label}} ({{group.getHaplogroupsByLabel(label).size()}})</a>&nbsp;
      {{end}}
      </p>
      {{end}}
      {{else}}
      <h3>Haplogroups ({{clades.size()}})</h3>
      <p>
      {{for clade in clades}}
        <a class="badge badge-primary" href="{{routeUrl("clades_show", {phylotree:tree.getIdWithVersion(), clade:clade.toString()})}}">{{clade}}</a>
      {{end}}
      </p>
  {{end}}
    <br><br>
  </div>
</div>

{{include "../layouts/footer.view.html"}}
