<nav id="navigation" class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
  <a class="navbar-brand" href="{{routeUrl("index",{})}}">
    <div class="d-inline-block align-top" alt="">

    </div>
    &nbsp;{{application}}
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  {{if !selfContained}}
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link {{isRouteActive("index") ? "active":""}}" href="{{routeUrl("index",{})}}">
          <i class="fas fa-upload"></i> Upload Data
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link {{isRouteActive("phylogenies_index") || isRouteActive("phylogenies_show") || isRouteActive("clades_show") ? "active":""}}" href="{{routeUrl("phylogenies_index",{})}}" class="">
          <i class="fas fa-sitemap"></i> Phylogenies
        </a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">
      {{for item in configuration.navbar}}
      <li class="nav-item">
        <a class="nav-link" href="{{item.url}}" target="_blank">
          <i class="{{item.icon}}"></i>  {{item.text}}
        </a>
      </li>
      {{end}}
      <li class="nav-item">
        <a class="nav-link" href="https://haplogrep.readthedocs.io">
          <i class="fas fa-book"></i> Documentation
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://haplogrep.readthedocs.io/en/latest/installation/" title="Download Haplogrep">
          <i class="fas fa-download"></i> Download
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/genepi/haplogrep3">
          <i class="fab fa-github"></i> GitHub
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link {{isRouteActive("contact") ? "active":""}}" href="{{routeUrl("contact",{})}}" id="show-command-button">
          About
        </a>
      </li>
    </ul>
  </div>
  {{end}}
</nav>
